CierreCajaEmpresarial/src/wsdl/srvbasa.bancatlan.hn_30003/SRVBASA003-1.0/ServicioSrvBasa003Interfaz.wsdl_ServicioSrvBasa003Interfaz.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://interfaces.srvbasa003.hn.infatlan/" name="ServicioSrvBasa003Interfaz" targetNamespace="http://interfaces.srvbasa003.hn.infatlan/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://interfaces.srvbasa003.hn.infatlan/" elementFormDefault="unqualified" targetNamespace="http://interfaces.srvbasa003.hn.infatlan/" version="1.0">

  <xs:element name="ejecutarSrvBasa003" type="tns:ejecutarSrvBasa003"/>

  <xs:element name="ejecutarSrvBasa003Response" type="tns:ejecutarSrvBasa003Response"/>

  <xs:complexType name="ejecutarSrvBasa003">
    <xs:sequence>
      <xs:element minOccurs="0" name="PeticionSrvBasa003" type="tns:PeticionSrvBasa003"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PeticionSrvBasa003">
    <xs:complexContent>
      <xs:extension base="tns:PeticionBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="tipoBusqueda" type="xs:string"/>
          <xs:element minOccurs="0" name="valorBusqueda" type="xs:string"/>
          <xs:element minOccurs="0" name="indicadorSericios" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PeticionBase">
    <xs:sequence>
      <xs:element default="" minOccurs="0" name="codigoPeticionUnica" type="xs:string"/>
      <xs:element default="000" minOccurs="0" name="codigoTransaccion" type="xs:string"/>
      <xs:element default="1" minOccurs="0" name="codigoCanal" type="xs:string"/>
      <xs:element minOccurs="0" name="usuarioPeticion" type="xs:string"/>
      <xs:element minOccurs="0" name="direccionIPPeticion" type="xs:string"/>
      <xs:element default="HN" minOccurs="0" name="codigoPais" type="xs:string"/>
      <xs:element default="01" minOccurs="0" name="codigoBanco" type="xs:string"/>
      <xs:element default="" minOccurs="0" name="codigoCoreBanking" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parametroAdicionalColeccion" type="tns:parametroAdicional"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="parametroAdicional">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionValor" type="xs:string"/>
      <xs:element name="numeroLinea" type="xs:long"/>
      <xs:element minOccurs="0" name="valor" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ejecutarSrvBasa003Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="RespuestaSrvBasa003" type="tns:RespuestaSrvBasa003"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RespuestaSrvBasa003">
    <xs:complexContent>
      <xs:extension base="tns:RespuestaBase">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="coleccionCuenta" type="tns:ItemCuenta"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RespuestaBase">
    <xs:sequence>
      <xs:element default="" minOccurs="0" name="codigoPeticionUnica" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoMensaje" type="xs:string"/>
      <xs:element minOccurs="0" name="mensaje" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoUnicoEjecucionSAP" type="xs:string"/>
      <xs:element minOccurs="0" name="idReferenciaSAP" type="xs:string"/>
      <xs:element minOccurs="0" name="fechaHoraCreacionSAP" type="xs:string"/>
      <xs:element minOccurs="0" name="estadoTransaccionSAP" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="coleccionErrorSAP" nillable="true" type="tns:itemError"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ItemCuenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="numeroCuentaEstandarSAP" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoTipoCuenta" type="xs:string"/>
      <xs:element minOccurs="0" name="descripcionTipoCuenta" type="xs:string"/>
      <xs:element minOccurs="0" name="monedaCuenta" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoEstadoCuenta" type="xs:string"/>
      <xs:element minOccurs="0" name="descripcionEstadoCuenta" type="xs:string"/>
      <xs:element minOccurs="0" name="businessPartnerTitular" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoProducto" type="xs:string"/>
      <xs:element minOccurs="0" name="descripcionTipoProducto" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoProducto" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroCuenta" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroCuentaInterno" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoBanco" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoPais" type="xs:string"/>
      <xs:element minOccurs="0" name="nombrePais" type="xs:string"/>
      <xs:element minOccurs="0" name="saldoContable" type="xs:decimal"/>
      <xs:element minOccurs="0" name="saldoRetenidoDebitos" type="xs:decimal"/>
      <xs:element minOccurs="0" name="saldoRetenidoCreditos" type="xs:decimal"/>
      <xs:element minOccurs="0" name="saldoDisponible" type="xs:decimal"/>
      <xs:element minOccurs="0" name="saldoMinimo" type="xs:decimal"/>
      <xs:element minOccurs="0" name="codigoSucursal" type="xs:string"/>
      <xs:element name="depositoReferenciado" type="xs:boolean"/>
      <xs:element minOccurs="0" name="numeroLibreta" type="xs:string"/>
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="coleccionDatosCDP" type="tns:datosCDP"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="coleccionOtrosDatos" type="tns:otrosDatos"/>
      <xs:element minOccurs="0" name="saldoPromedio" type="xs:decimal"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="coleccionDepositoReferenciado" type="tns:coleccionDepositoReferenciado"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="coleccionNotas" type="tns:itemNota"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="coleccionServicios" type="tns:ItemServicios"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="datosCDP">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaFin" type="xs:string"/>
      <xs:element minOccurs="0" name="fechaInicio" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="otrosDatos">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoCliente" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoRol" type="xs:string"/>
      <xs:element minOccurs="0" name="periodoValido" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="coleccionDepositoReferenciado">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoTransaccionCanal" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoTransaccionTipo" type="xs:string"/>
      <xs:element minOccurs="0" name="descripcionTipoReferencia" type="xs:string"/>
      <xs:element minOccurs="0" name="descripcionTransaccionTipo" type="xs:string"/>
      <xs:element minOccurs="0" name="indicadorTransaccionDebito" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoReferencia" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="itemNota">
    <xs:sequence>
      <xs:element minOccurs="0" name="adicionalNota1" type="xs:string"/>
      <xs:element minOccurs="0" name="adicionalNota2" type="xs:string"/>
      <xs:element minOccurs="0" name="formatoNota" type="xs:string"/>
      <xs:element minOccurs="0" name="lineaNota" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ItemServicios">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoServicio" type="xs:string"/>
      <xs:element minOccurs="0" name="activo" type="xs:string"/>
      <xs:element minOccurs="0" name="montoMaxLocal" type="xs:decimal"/>
      <xs:element minOccurs="0" name="montoMaxEtr" type="xs:decimal"/>
      <xs:element minOccurs="0" name="opcion1" type="xs:string"/>
      <xs:element minOccurs="0" name="opcion2" type="xs:string"/>
      <xs:element minOccurs="0" name="opcion3" type="xs:string"/>
      <xs:element minOccurs="0" name="opcion4" type="xs:decimal"/>
      <xs:element minOccurs="0" name="opcion5" type="xs:decimal"/>
      <xs:element minOccurs="0" name="opcion6" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="itemError">
    <xs:sequence>
      <xs:element minOccurs="0" name="detalleError" type="xs:string"/>
      <xs:element minOccurs="0" name="idMensajeError" type="xs:string"/>
      <xs:element minOccurs="0" name="severidad" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="ejecutarSrvBasa003Response">
    <wsdl:part element="ns1:ejecutarSrvBasa003Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ejecutarSrvBasa003">
    <wsdl:part element="ns1:ejecutarSrvBasa003" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServicioSrvBasa003Interfaz">
    <wsdl:operation name="ejecutarSrvBasa003">
      <wsdl:input message="ns1:ejecutarSrvBasa003" name="ejecutarSrvBasa003">
    </wsdl:input>
      <wsdl:output message="ns1:ejecutarSrvBasa003Response" name="ejecutarSrvBasa003Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>